<div>
  <section class="title">
    <h3>HATCH</h3>
  </section>
  <div class="left">
      <div class="img-noti"></div>
    </div>
  <div class="texto">O termo hatch vem de hatchback,     palavra inglesa usada para se referir a carros com uma traseira com comporta. Como seu próprio nome já diz, os hatches têm uma porta em sua traseira, diferenciando-se de outros modelos, como o sedan — que tem uma espécie de “tampa”.

  Os automóveis dessa categoria apresentam um tamanho compacto e oferecem algumas vantagens, como boa dirigibilidade e maior facilidade para manobrar. Eles são mais econômicos devido ao seu tamanho e muito   populares entre os motoristas mais jovens. 
  </div>

  <section class="title">
    <h3>PICAPE</h3>
  </section>
  <div class="left">
      <div class="img-noti"></div>
    </div>
  <div class="texto">Camionete ou caminhonete, também referidos como picape ou carrinha de caixa aberta (do inglês pick-up), é um tipo de veículo automotor destinado a carga, com peso bruto total não superior a 3 500kg, que possui a parte superior traseira aberta, quase sempre separada da cabine.
  </div>
  <section class="title">
    <h3>SEDAN</h3>
    {{!-- {{#each results}}
    {{this.urlImg}}
    {{/each}} --}}
  </section>
  <div class="left">
      <div class="img-noti"></div>
    </div>
  <div class="texto">Os carros dessa categoria têm a estrutura dividida em três partes: capô, área dos passageiros e porta-malas. Os automóveis sedan atendem principalmente aos consumidores que necessitam de um amplo porta-malas para suas atividades do dia a dia. 

 Além disso, eles são ideais para famílias um pouco maiores, visto que normalmente têm um espaço interno maior e conseguem acomodar todos de forma confortável. Na hora da troca por um modelo superior, os sedans ganham vantagens e têm um maior valor de revenda.
  </div>

<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contato</h5>

        <p>
          <p><i class="fas fa-home me-3"></i> BA, Salvador, CEP - 40487140 </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            daniel@contato.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 55 1234 5678</p>
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">MAPA DO SITE</h5>

        <p>
          <a href="#">Home</a>
          
        </p>
        <p><a href="#">Voltar ao topo</a></p>
  
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © Daniel Copyright – Todos os direitos reservados
    {{!-- <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a> --}}
  </div>
  <!-- Copyright -->

  
</footer>

  
</div>